<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arm_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 246}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 888}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>arm_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {252, 294}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>arm_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {296, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 592}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>arm_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {342, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 1184}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>arm_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {294, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{564, 1480}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>arm_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {350, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{378, 294}</string>
			<key>spriteSourceSize</key>
			<string>{378, 294}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 296}, {378, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backarm</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 234}</string>
			<key>spriteSourceSize</key>
			<string>{159, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{564, 1776}, {159, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {268, 351}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{280, 375}</string>
			<key>spriteSourceSize</key>
			<string>{280, 375}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 1480}, {280, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {268, 353}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{280, 375}</string>
			<key>spriteSourceSize</key>
			<string>{280, 375}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1561}, {280, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_headless</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 25}, {250, 337}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{280, 375}</string>
			<key>spriteSourceSize</key>
			<string>{280, 375}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1184}, {280, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_hurt</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{280, 375}</string>
			<key>spriteSourceSize</key>
			<string>{280, 375}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 0}, {280, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_cape_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 62}, {67, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{638, 896}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_cape_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 63}, {55, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 896}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_cape_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 61}, {59, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 692}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_cape_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 63}, {47, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 1069}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_cape_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 61}, {49, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{638, 377}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_damage</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {127, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 550}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_hurt_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 28}, {125, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 1776}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_hurt_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {125, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{509, 550}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_hurt_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 28}, {125, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 346}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_laugh_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 173}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_laugh_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {125, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{791, 173}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_laugh_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {125, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{791, 0}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_laugh_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {125, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{638, 550}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_tail_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 74}, {127, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 723}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_tail_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 74}, {125, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{509, 896}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_tail_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 74}, {125, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 0}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cat_tail_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 74}, {125, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 865}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>head</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {223, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{223, 177}</string>
			<key>spriteSourceSize</key>
			<string>{223, 177}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 1857}, {223, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homing_rocket</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 56}</string>
			<key>spriteSourceSize</key>
			<string>{87, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 1922}, {87, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particle_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 144}</string>
			<key>spriteSourceSize</key>
			<string>{132, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 1776}, {132, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particle_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{149, 86}</string>
			<key>spriteSourceSize</key>
			<string>{149, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 1938}, {149, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particle_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {129, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 89}</string>
			<key>spriteSourceSize</key>
			<string>{129, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1938}, {129, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particle_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 55}</string>
			<key>spriteSourceSize</key>
			<string>{99, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 1980}, {99, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particle_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 67}</string>
			<key>spriteSourceSize</key>
			<string>{103, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{725, 1949}, {103, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 152}</string>
			<key>spriteSourceSize</key>
			<string>{113, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{791, 1211}, {113, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{791, 1038}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{509, 377}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{509, 723}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{638, 723}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 1242}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 377}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>throw_6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {125, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 171}</string>
			<key>spriteSourceSize</key>
			<string>{127, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 519}, {127, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>robotboss</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>robotboss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>robotboss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>