<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>hover0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 66}, {54, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 77}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover10</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{206, 53}, {58, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover11</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{228, 74}, {36, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 55}, {66, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 33}, {68, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 10}, {68, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 18}, {72, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 16}, {74, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{147, 25}, {74, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{168, 30}, {76, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hover9</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{189, 44}, {74, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 65}, {52, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 76}, {74, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 65}, {72, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 76}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 54}, {66, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 36}, {70, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{120, 45}, {78, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{140, 63}, {76, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{174, 76}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump9</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{196, 63}, {68, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine10</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {46, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {194, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 0}, {160, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 0}, {116, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 0}, {84, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{137, 0}, {74, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {94, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {102, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swingvine9</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {102, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 58}, {58, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 70}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{532, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 53}, {68, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 785}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 40}, {72, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 40}, {70, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 314}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 40}, {64, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1596, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 42}, {68, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 471}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{152, 40}, {78, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 157}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swipe_straight8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{182, 62}, {74, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{264, 155}</string>
			<key>spriteSourceSize</key>
			<string>{264, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1064, 628}, {264, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>tut_anim_2</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>tut_anim_2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>tut_anim_2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>