<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dogbush</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 139}</string>
			<key>spriteSourceSize</key>
			<string>{98, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 0}, {98, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dogbush2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 139}</string>
			<key>spriteSourceSize</key>
			<string>{98, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 255}, {98, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dogstatue</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 139}</string>
			<key>spriteSourceSize</key>
			<string>{98, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 255}, {98, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emptybush</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{82, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 141}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fence</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 90}</string>
			<key>spriteSourceSize</key>
			<string>{113, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 408}, {113, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 0}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{82, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 141}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 46}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 0}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{82, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 187}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flower6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 41}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grass</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 187}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grass1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 437}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grass2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 63}</string>
			<key>spriteSourceSize</key>
			<string>{66, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 431}, {66, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grass3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{82, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 0}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroombush</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{82, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 187}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 99}</string>
			<key>spriteSourceSize</key>
			<string>{81, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 402}, {81, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 39}</string>
			<key>spriteSourceSize</key>
			<string>{58, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 46}, {58, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 33}</string>
			<key>spriteSourceSize</key>
			<string>{47, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 87}, {47, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 33}</string>
			<key>spriteSourceSize</key>
			<string>{47, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 87}, {47, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 63}</string>
			<key>spriteSourceSize</key>
			<string>{35, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 122}, {35, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rock5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 63}</string>
			<key>spriteSourceSize</key>
			<string>{35, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 372}, {35, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>roundbush</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 63}</string>
			<key>spriteSourceSize</key>
			<string>{66, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 431}, {66, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_dog</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{122, 151}</string>
			<key>spriteSourceSize</key>
			<string>{122, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 255}, {122, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_dog2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{122, 151}</string>
			<key>spriteSourceSize</key>
			<string>{122, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 278}, {122, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_go</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 145}</string>
			<key>spriteSourceSize</key>
			<string>{126, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 255}, {126, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_noswim</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 137}</string>
			<key>spriteSourceSize</key>
			<string>{86, 137}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{676, 233}, {86, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_rocks</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 111}</string>
			<key>spriteSourceSize</key>
			<string>{72, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 396}, {72, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_spikes</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 111}</string>
			<key>spriteSourceSize</key>
			<string>{72, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 396}, {72, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_vines</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {58, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{58, 103}</string>
			<key>spriteSourceSize</key>
			<string>{72, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 402}, {58, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_warning</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 111}</string>
			<key>spriteSourceSize</key>
			<string>{72, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 396}, {72, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sign_water</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 111}</string>
			<key>spriteSourceSize</key>
			<string>{72, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 396}, {72, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tallbush</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 139}</string>
			<key>spriteSourceSize</key>
			<string>{98, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 255}, {98, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 253}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 0}, {117, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 253}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 0}, {117, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 253}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 0}, {117, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 276}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 276}</string>
			<key>spriteSourceSize</key>
			<string>{116, 276}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {116, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 253}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 0}, {117, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>detail_expr</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>grounddetail_world3_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>grounddetail_world3_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>