<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>green_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 0}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {67, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 45}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 0}, {67, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 47}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>purple_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>purple_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {67, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 45}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 47}, {67, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>purple_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 47}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 94}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {67, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 45}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 94}, {67, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 94}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellow_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 141}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellow_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 14}, {67, 45}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 45}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 141}, {67, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellow_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {65, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{65, 43}</string>
			<key>spriteSourceSize</key>
			<string>{91, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 141}, {65, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>fish_zwopexport</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fish_zwopexport_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fish_zwopexport_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>