<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>GO</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {99, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{111, 74}</string>
			<key>spriteSourceSize</key>
			<string>{111, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 662}, {111, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>READY</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {186, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{196, 73}</string>
			<key>spriteSourceSize</key>
			<string>{196, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 0}, {196, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{181, 807}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengecomplete</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {214, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{214, 118}</string>
			<key>spriteSourceSize</key>
			<string>{214, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{795, 507}, {214, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengedescbg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{113, 42}</string>
			<key>spriteSourceSize</key>
			<string>{113, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 618}, {113, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengefailed</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {243, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{243, 71}</string>
			<key>spriteSourceSize</key>
			<string>{243, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 486}, {243, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeinfo</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {344, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{344, 109}</string>
			<key>spriteSourceSize</key>
			<string>{344, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 111}, {344, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeintrocard</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 57}</string>
			<key>spriteSourceSize</key>
			<string>{224, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{795, 448}, {224, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {165, 55}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{165, 55}</string>
			<key>spriteSourceSize</key>
			<string>{181, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 322}, {165, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_1_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 23}</string>
			<key>spriteSourceSize</key>
			<string>{70, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 593}, {70, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{177, 55}</string>
			<key>spriteSourceSize</key>
			<string>{181, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 909}, {177, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_2_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 21}</string>
			<key>spriteSourceSize</key>
			<string>{70, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 659}, {70, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{177, 55}</string>
			<key>spriteSourceSize</key>
			<string>{181, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 852}, {177, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_3_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 21}</string>
			<key>spriteSourceSize</key>
			<string>{70, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 682}, {70, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {179, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{179, 55}</string>
			<key>spriteSourceSize</key>
			<string>{181, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 795}, {179, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_4_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 22}</string>
			<key>spriteSourceSize</key>
			<string>{70, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 635}, {70, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {181, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{181, 55}</string>
			<key>spriteSourceSize</key>
			<string>{181, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 631}, {181, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>combo_5_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 20}</string>
			<key>spriteSourceSize</key>
			<string>{70, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 627}, {70, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{221, 51}</string>
			<key>spriteSourceSize</key>
			<string>{221, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{802, 264}, {221, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue_price_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 38}</string>
			<key>spriteSourceSize</key>
			<string>{71, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{719, 521}, {71, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue_price_bg_nopoke</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {71, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{71, 30}</string>
			<key>spriteSourceSize</key>
			<string>{71, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 561}, {71, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue_total_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 39}</string>
			<key>spriteSourceSize</key>
			<string>{96, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{571, 705}, {96, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_bones_disp</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 27}</string>
			<key>spriteSourceSize</key>
			<string>{107, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{457, 731}, {107, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_disp</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{107, 27}</string>
			<key>spriteSourceSize</key>
			<string>{107, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{669, 738}, {107, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>curtain_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 316}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>curtain_left</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 320}</string>
			<key>spriteSourceSize</key>
			<string>{105, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 688}, {105, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_approach_ui</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 43}</string>
			<key>spriteSourceSize</key>
			<string>{60, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 858}, {60, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_approach_ui_arrow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 30}</string>
			<key>spriteSourceSize</key>
			<string>{27, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 394}, {27, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameinfopane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {344, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 109}</string>
			<key>spriteSourceSize</key>
			<string>{344, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{482, 0}, {344, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {306, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{306, 70}</string>
			<key>spriteSourceSize</key>
			<string>{306, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 322}, {306, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover_info_disp_pane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 129}</string>
			<key>spriteSourceSize</key>
			<string>{218, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 317}, {218, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 53}</string>
			<key>spriteSourceSize</key>
			<string>{49, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 953}, {49, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ingame_ui_bone_icon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 22}</string>
			<key>spriteSourceSize</key>
			<string>{24, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 222}, {24, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ingame_ui_lives_icon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 21}</string>
			<key>spriteSourceSize</key>
			<string>{23, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 635}, {23, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ingame_ui_time_icon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 22}</string>
			<key>spriteSourceSize</key>
			<string>{21, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 394}, {21, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_ready</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 28}</string>
			<key>spriteSourceSize</key>
			<string>{53, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 993}, {53, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_timebar</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{148, 45}</string>
			<key>spriteSourceSize</key>
			<string>{148, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 671}, {148, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_timebaremptytex</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 15}</string>
			<key>spriteSourceSize</key>
			<string>{97, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 618}, {97, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_timebarfulltex</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 15}</string>
			<key>spriteSourceSize</key>
			<string>{97, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 618}, {97, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{55, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 966}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslotlarge</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{719, 443}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslotsmall</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{55, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 966}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_prize_fewbone</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{38, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 682}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_prize_fewcoin</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 33}</string>
			<key>spriteSourceSize</key>
			<string>{31, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 513}, {31, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_prize_manybone</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 42}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 559}, {40, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_prize_manycoin</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 34}</string>
			<key>spriteSourceSize</key>
			<string>{57, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 685}, {57, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_prize_mystery</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 54}</string>
			<key>spriteSourceSize</key>
			<string>{28, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 582}, {28, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_upgrade_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {254, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{254, 90}</string>
			<key>spriteSourceSize</key>
			<string>{254, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 394}, {254, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_upgrade_locked</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 41}</string>
			<key>spriteSourceSize</key>
			<string>{37, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 722}, {37, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_upgrade_unlocked</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 40}</string>
			<key>spriteSourceSize</key>
			<string>{37, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 765}, {37, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_wheel_back</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 187}</string>
			<key>spriteSourceSize</key>
			<string>{188, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 75}, {188, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_wheel_light_off</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 246}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_wheel_light_on</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 418}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_wheel_point</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 77}</string>
			<key>spriteSourceSize</key>
			<string>{39, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 603}, {39, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 52}</string>
			<key>spriteSourceSize</key>
			<string>{54, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 953}, {54, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nobutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 43}</string>
			<key>spriteSourceSize</key>
			<string>{51, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{942, 649}, {51, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseicon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{30, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{447, 548}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseinfoblank</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 627}, {150, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseinfobones</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 45}</string>
			<key>spriteSourceSize</key>
			<string>{150, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 638}, {150, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseinfolives</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 45}</string>
			<key>spriteSourceSize</key>
			<string>{150, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 379}, {150, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pauseitemdescbg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 77}</string>
			<key>spriteSourceSize</key>
			<string>{142, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{787, 718}, {142, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 58}</string>
			<key>spriteSourceSize</key>
			<string>{56, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 966}, {56, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>popup_back</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {318, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{318, 219}</string>
			<key>spriteSourceSize</key>
			<string>{318, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 222}, {318, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>prevbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 52}</string>
			<key>spriteSourceSize</key>
			<string>{54, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 953}, {54, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progresspanel</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 76}</string>
			<key>spriteSourceSize</key>
			<string>{224, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 435}, {224, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progresspanelmarker</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 27}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 658}, {22, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progresspanelx</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 379}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>retrybutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{49, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{937, 694}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scroll_arrow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 7}</string>
			<key>spriteSourceSize</key>
			<string>{27, 7}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 426}, {27, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {138, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 105}</string>
			<key>spriteSourceSize</key>
			<string>{140, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{512, 760}, {140, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 559}, {200, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 677}, {200, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{245, 513}, {200, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton_locked</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 105}</string>
			<key>spriteSourceSize</key>
			<string>{140, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 867}, {140, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinbutton_pressed</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {138, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 105}</string>
			<key>spriteSourceSize</key>
			<string>{140, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{654, 797}, {140, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spotlight</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 263}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 263}</string>
			<key>spriteSourceSize</key>
			<string>{106, 263}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 688}, {106, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tinybone</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 401}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>water_warning_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {55, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 903}, {57, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>water_warning_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{179, 948}, {57, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wheelofprizes</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {235, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{235, 173}</string>
			<key>spriteSourceSize</key>
			<string>{235, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 443}, {235, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yesbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 44}</string>
			<key>spriteSourceSize</key>
			<string>{53, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{457, 685}, {53, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>ingame_ui</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>ingame_ui_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>ingame_ui_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>