<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boneicon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {35, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{35, 32}</string>
			<key>spriteSourceSize</key>
			<string>{37, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 415}, {35, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buybutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 71}</string>
			<key>spriteSourceSize</key>
			<string>{108, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 226}, {108, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 33}</string>
			<key>spriteSourceSize</key>
			<string>{31, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 474}, {31, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog_selector</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 27}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 483}, {22, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog_selector_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 52}</string>
			<key>spriteSourceSize</key>
			<string>{50, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 361}, {50, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog_selector_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {44, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 52}</string>
			<key>spriteSourceSize</key>
			<string>{50, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{839, 354}, {50, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>extrasicon_art</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 438}, {32, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>extrasicon_music</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 30}</string>
			<key>spriteSourceSize</key>
			<string>{31, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{927, 396}, {31, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>extrasicon_sfx</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 26}</string>
			<key>spriteSourceSize</key>
			<string>{29, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 483}, {29, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 73}</string>
			<key>spriteSourceSize</key>
			<string>{63, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 299}, {63, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>first_time_popup</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 58}</string>
			<key>spriteSourceSize</key>
			<string>{87, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 454}, {87, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inventorydivider</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {407, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{407, 9}</string>
			<key>spriteSourceSize</key>
			<string>{407, 9}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 291}, {407, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot_large</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 0}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>itemslot_small</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{55, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{839, 296}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>location_spacer</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 3}</string>
			<key>spriteSourceSize</key>
			<string>{46, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 266}, {46, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>money_icon</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 32}</string>
			<key>spriteSourceSize</key>
			<string>{24, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{999, 354}, {24, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_achievementsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {32, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{891, 354}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_arrow_left</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 52}</string>
			<key>spriteSourceSize</key>
			<string>{31, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 299}, {31, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_arrow_right</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 52}</string>
			<key>spriteSourceSize</key>
			<string>{31, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{456, 302}, {31, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_backbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{493, 467}, {50, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_blankbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{891, 396}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_charselmenu</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{222, 125}</string>
			<key>spriteSourceSize</key>
			<string>{222, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {222, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_checkbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 51}</string>
			<key>spriteSourceSize</key>
			<string>{52, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{950, 296}, {52, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_closebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{34, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{927, 354}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_curtains</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {491, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{491, 57}</string>
			<key>spriteSourceSize</key>
			<string>{491, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {491, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{865, 408}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 353}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_flower_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 43}</string>
			<key>spriteSourceSize</key>
			<string>{24, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{839, 408}, {24, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_homebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{682, 449}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventorybutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{963, 354}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventoryitem</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 429}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_inventorypane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {450, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{450, 224}</string>
			<key>spriteSourceSize</key>
			<string>{450, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 0}, {450, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_mapbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 41}</string>
			<key>spriteSourceSize</key>
			<string>{38, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 467}, {38, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_okbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 74}</string>
			<key>spriteSourceSize</key>
			<string>{108, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 391}, {108, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_runbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 150}</string>
			<key>spriteSourceSize</key>
			<string>{212, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 302}, {212, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_settingsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 398}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {32, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{839, 453}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopkeeper</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 163}</string>
			<key>spriteSourceSize</key>
			<string>{126, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{493, 226}, {126, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopkeeper_blink</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 163}</string>
			<key>spriteSourceSize</key>
			<string>{126, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 59}, {126, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shopsign</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 68}</string>
			<key>spriteSourceSize</key>
			<string>{102, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 226}, {102, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_shoptab</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 41}</string>
			<key>spriteSourceSize</key>
			<string>{86, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{313, 454}, {86, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_spotlight</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 263}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 263}</string>
			<key>spriteSourceSize</key>
			<string>{106, 263}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{731, 226}, {106, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_statsbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{34, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{585, 467}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nmenu_xbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 51}</string>
			<key>spriteSourceSize</key>
			<string>{52, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{896, 296}, {52, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playpage_highscore_sign</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 81}</string>
			<key>spriteSourceSize</key>
			<string>{120, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 429}, {120, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playpage_infoside</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 68}</string>
			<key>spriteSourceSize</key>
			<string>{67, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{945, 153}, {67, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playpage_infoside_flipped</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 68}</string>
			<key>spriteSourceSize</key>
			<string>{67, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{943, 226}, {67, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settingspage_scrollright</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 57}</string>
			<key>spriteSourceSize</key>
			<string>{16, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 302}, {16, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tinybone</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 271}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_arrowup</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 7}</string>
			<key>spriteSourceSize</key>
			<string>{27, 7}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 271}, {27, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_itemdisppane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 62}</string>
			<key>spriteSourceSize</key>
			<string>{59, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{621, 449}, {59, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_tabbedshoppane</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {358, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{358, 230}</string>
			<key>spriteSourceSize</key>
			<string>{358, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 59}, {358, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_tabcover</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 8}</string>
			<key>spriteSourceSize</key>
			<string>{68, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 266}, {68, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_tabpane_tab</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 27}</string>
			<key>spriteSourceSize</key>
			<string>{77, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 454}, {77, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tshop_vscrolltab</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 40}</string>
			<key>spriteSourceSize</key>
			<string>{122, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 224}, {122, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twitter</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 73}</string>
			<key>spriteSourceSize</key>
			<string>{63, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 374}, {63, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youtube</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 73}</string>
			<key>spriteSourceSize</key>
			<string>{63, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{945, 78}, {63, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>nmenu_items</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>nmenu_items</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>nmenu_items</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>