<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dog1_run_angry0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {69, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{888, 626}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog1_run_angry1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {71, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1375, 591}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog1_run_angry2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {71, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{888, 555}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog1_run_angry3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {71, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{888, 484}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog5_run_angry0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {67, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 798}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog5_run_angry1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1623, 798}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog5_run_angry2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {65, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1552, 798}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog5_run_angry3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {67, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1481, 798}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog6_run_angry0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {81, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 83}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 880}, {85, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog6_run_angry1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 83}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1905, 385}, {85, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog6_run_angry2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {83, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 83}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 795}, {85, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog6_run_angry3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {85, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 83}</string>
			<key>spriteSourceSize</key>
			<string>{85, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1206, 811}, {85, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 269}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_chars_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {292, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{292, 143}</string>
			<key>spriteSourceSize</key>
			<string>{292, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 697}, {292, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_chars_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {292, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{292, 143}</string>
			<key>spriteSourceSize</key>
			<string>{292, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{912, 811}, {292, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_chars_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {292, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{292, 143}</string>
			<key>spriteSourceSize</key>
			<string>{292, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 842}, {292, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_fgbush_left</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{168, 172}</string>
			<key>spriteSourceSize</key>
			<string>{168, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1735, 298}, {168, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame1_fgbush_right</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 115}</string>
			<key>spriteSourceSize</key>
			<string>{146, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 889}, {146, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame2_copter</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 128}</string>
			<key>spriteSourceSize</key>
			<string>{146, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1761, 154}, {146, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame2_ground</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 265}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 265}</string>
			<key>spriteSourceSize</key>
			<string>{512, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 2}, {512, 265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame2_robolauncher</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 47}</string>
			<key>spriteSourceSize</key>
			<string>{59, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{903, 324}, {59, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame2_robominion</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 46}</string>
			<key>spriteSourceSize</key>
			<string>{42, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 595}, {42, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 2}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_curtain</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 324}, {480, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 16}</string>
			<key>spriteSourceSize</key>
			<string>{23, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1598, 450}, {23, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 17}</string>
			<key>spriteSourceSize</key>
			<string>{35, 17}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1561, 450}, {35, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 16}</string>
			<key>spriteSourceSize</key>
			<string>{21, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1623, 450}, {21, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 18}</string>
			<key>spriteSourceSize</key>
			<string>{23, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1536, 450}, {23, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 22}</string>
			<key>spriteSourceSize</key>
			<string>{31, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1503, 450}, {31, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 24}</string>
			<key>spriteSourceSize</key>
			<string>{29, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1472, 450}, {29, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 14}</string>
			<key>spriteSourceSize</key>
			<string>{21, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1646, 450}, {21, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_debris_7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 14}</string>
			<key>spriteSourceSize</key>
			<string>{21, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1669, 450}, {21, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_dog2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 60}</string>
			<key>spriteSourceSize</key>
			<string>{56, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{903, 422}, {56, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_dog3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 50}</string>
			<key>spriteSourceSize</key>
			<string>{66, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 955}, {66, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_pups_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 62}</string>
			<key>spriteSourceSize</key>
			<string>{191, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 659}, {191, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_pups_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 62}</string>
			<key>spriteSourceSize</key>
			<string>{191, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 723}, {191, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame3_pups_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 62}</string>
			<key>spriteSourceSize</key>
			<string>{191, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 595}, {191, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1448, 476}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_cage</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 269}</string>
			<key>spriteSourceSize</key>
			<string>{236, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 324}, {236, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_dog2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 74}</string>
			<key>spriteSourceSize</key>
			<string>{68, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 591}, {68, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_dog3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{183, 955}, {68, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_exclamation</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 123}</string>
			<key>spriteSourceSize</key>
			<string>{89, 123}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1909, 154}, {89, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame4_spotlight</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {279, 294}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{279, 294}</string>
			<key>spriteSourceSize</key>
			<string>{279, 294}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1480, 2}, {279, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame5_bg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame5_char</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {388, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{388, 186}</string>
			<key>spriteSourceSize</key>
			<string>{388, 186}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{498, 484}, {388, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame6_copter</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 215}</string>
			<key>spriteSourceSize</key>
			<string>{158, 215}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 672}, {158, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame6_groundtex</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 376}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame6_launcher</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 47}</string>
			<key>spriteSourceSize</key>
			<string>{58, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{903, 373}, {58, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame6_robominion</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 48}</string>
			<key>spriteSourceSize</key>
			<string>{43, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 203}, {43, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame6_shadow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 10}</string>
			<key>spriteSourceSize</key>
			<string>{94, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1761, 284}, {94, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_flyin_base</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 45}, {233, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 150}</string>
			<key>spriteSourceSize</key>
			<string>{261, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1761, 2}, {261, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_flyin_pups</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 70}, {157, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 150}</string>
			<key>spriteSourceSize</key>
			<string>{261, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1472, 298}, {261, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_flyin_speedy</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 45}, {123, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 150}</string>
			<key>spriteSourceSize</key>
			<string>{261, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{195, 643}, {261, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 768}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1930, 470}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{603, 376}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1930, 672}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_4</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 667}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_5</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {95, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1930, 571}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_6</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {95, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1930, 773}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_7</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {95, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1905, 284}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_headcircle_8</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {95, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 99}</string>
			<key>spriteSourceSize</key>
			<string>{103, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{498, 376}, {103, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_chain</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 205}</string>
			<key>spriteSourceSize</key>
			<string>{22, 205}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1448, 269}, {22, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_empty_back</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {173, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{179, 158}</string>
			<key>spriteSourceSize</key>
			<string>{179, 158}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{183, 795}, {179, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_empty_bars</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 29}, {163, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{179, 158}</string>
			<key>spriteSourceSize</key>
			<string>{179, 158}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{722, 324}, {179, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_lab_groundtex</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {342, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{342, 218}</string>
			<key>spriteSourceSize</key>
			<string>{342, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 591}, {342, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_open_bottom</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 18}, {173, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{179, 158}</string>
			<key>spriteSourceSize</key>
			<string>{179, 158}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 787}, {179, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_open_top</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {179, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 51}</string>
			<key>spriteSize</key>
			<string>{179, 56}</string>
			<key>spriteSourceSize</key>
			<string>{179, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 947}, {179, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_pup_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 49}</string>
			<key>spriteSourceSize</key>
			<string>{53, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1992, 385}, {53, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pupcage_pup_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 47}</string>
			<key>spriteSourceSize</key>
			<string>{45, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2000, 154}, {45, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>intro_anim.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>intro_anim_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>intro_anim_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>